.featured {
  .banner {
    h3 {
      color: #1c1c1c;
      font-weight: 700;
      position: relative;
      font-size: 36px;
      text-align: center;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        right: 0;
        height: 4px;
        width: 80px;
        background: #7fad39;
        margin: 0 auto;
      }
    }
  }
  ul {
    li {
      a {
        font-size: 18px;
        color: #1c1c1c;
        display: inline-block;
      }
      &:hover,
      &.active {
        ::after {
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background: #7fad39;
          content: "";
          transition: 0.4s;
        }
      }
    }
  }
  .feature-item {
    .card {
      &:hover {
        .links {
          opacity: 1;
          transform: translatey(-70px);
        }
      }
      img {
        max-width: 100%;
      }
      .links {
        opacity: 0;
        transition: 0.3s;
        position: absolute;
        text-align: center;
        a {
          color: #1c1c1c;
          height: 40px;
          width: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid #ebebeb;
          background: #ffffff;
          border-radius: 50%;
          transition: 0.5s;
          text-decoration: none;
          display: inline-block;
          &:hover {
            background-color: #7fad39;
            color: white;
            transform: rotate(360deg);
          }
          svg {
            font-size: 16px;
          }
        }
      }
      .card-text {
        a {
          color: #1c1c1c;
          text-decoration: none;
          font-size: 16px;
        }
        h3 {
          font-size: 18px;
          font-weight: 700;
          color: #1c1c1c;
        }
      }
    }
  }
}
