footer {
  background: #f3f6fa;
  padding-top: 40px;
  .links-foot {
    a {
      font-size: 16px;
      color: #1c1c1c;
      line-height: 36px;
      list-style: none;
    }
  }
  h6 {
    color: #1c1c1c;
    font-weight: 700;
    font-size: 16px;
  }
  .useful-link {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
      a {
        color: #1c1c1c;
        font-size: 14px;
      }
    }
  }
  .join-search {
    p {
      font-size: 14px;
      color: #1c1c1c;
      margin-bottom: 30px;
    }
    .input-search {
      input {
        padding: 10px 20px;
        font-size: 16px;
        color: #1c1c1c;
        border: 1px solid #ededed;
      }
      button {
        background-color: #7fad39;
        border: none;
        color: #ffffff;
        font-size: 13px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
    .icon {
      display: flex;
      a {
        display: flex;
        height: 41px;
        width: 41px;
        font-size: 16px;
        color: #404040;
        border: 1px solid #ededed;
        border-radius: 50%;
        text-align: center;
        background: #ffffff;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        &:hover {
          color: white;
          background-color: #7fad39;
        }
      }
    }
  }
}
