header {
  .navbar-brand {
    margin-left: 15px;
    .logo {
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
    }
  }
  .navbar-toggler {
    color: #ffffff;
    box-shadow: none !important;
    border: none;
    font-size: 25px;
    margin-right: 15px;
  }
  ul {
    @include lgwidth {
      margin-top: 15px;
    }
    li {
      margin: 0 15px;
      &:hover {
        a::before {
          background: #3474d4;
          width: 100%;
        }
        a {
          color: #3474d4;
        }
      }
      a {
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        transition: 0.3s;
        text-transform: uppercase;
        position: relative;
        display: block;
        @include lgwidth {
          margin: 0 0 18px 0;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -10px;
          height: 2px;
          width: 0;
          left: 0;
          transition: 0.4s;
        }
      }
      button {
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        background-color: #003cbf;
        padding: 12px 19px;
        border: none;
        border-radius: 16px;
        &:hover {
          color: #ffffff;
          background-color: #003cbf;
        }
      }
    }
  }
}
