// start top header

.top-header {
  background-color: $light-gray;
  @media (max-width: 992px) {
    display: none;
  }
  span {
    height: 50%;
    border-right: 1px solid rgba(0, 0, 0, 0.219);
  }
  a {
    color: $third-color;
    font-size: 15px;
  }
  svg {
    font-size: 15px;
  }
  .dropdown {
    img {
      width: 20px;
      height: 15px;
    }
  }
}

// end top header

// start header menu

.header-menu {
  a {
    font-size: 15px;
    color: $third-color;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 5px 0;
    display: block;
    transition: 0.3s;
  }
  .active,
  a:hover {
    color: $main-color !important;
  }
  svg {
    font-size: 18px;
  }
  .cart-price {
    ul {
      list-style: none;
      span {
        height: 13px;
        width: 13px;
        background: $main-color;
        font-size: 9px;
        color: $white;
        text-align: center;
        font-weight: 700;
        border-radius: 50%;
        top: -2px;
        right: -2px;
      }
    }
    @include lgwidth {
      margin-top: 15px;
    }
    .cart-price-item {
      font-size: 15px;
      color: #6f6f6f;
    }
  }
  .offcanvas-body {
    a {
      color: $third-color;
      &:hover {
        color: $third-color !important;
      }
    }
    .active {
      color: $white !important;
      &:hover {
        color: $white !important;
      }
    }
  }
}

// end header menu
