section {
  .content {
    height: calc(70vh - 77px);
    color: #eeeeee;
    button {
      font-weight: 400;
      font-size: 12.5px;
      background: #eeeeee;
      border-radius: 5px;
      color: #111111;
      width: fit-content;
      margin-bottom: 22px;
    }
    h1 {
      font-weight: 700;
      font-size: 61.0352px;
      color: #ffffff;
      margin-bottom: 21px;
      @include lgwidth {
        font-size: 40px;
      }
      @include mdwidth {
        font-size: 30px;
      }
      @include smwidth {
        font-size: 25px;
      }
    }
    p {
      font-weight: 400;
      font-size: 20px;
      color: #ffffff;
      margin-bottom: 38px;
      @include smwidth {
        font-size: 17px;
      }
    }
    .cv {
      button {
        font-weight: 400;
        font-size: 16px;
        border-radius: 16px;
        padding: 15px 19px;
        border: none;
      }
      button:first-child {
        background-color: #003cbf;
        a {
          color: #ffffff;
        }
      }
      button:last-child {
        background-color: #ffffff;
        a {
          color: #111111;
        }
      }
    }
  }
}
