.project {
  .banner {
    button {
      font-weight: 400;
      font-size: 11.5px;
      color: #111111;
      padding: 6px 9px;
      background: #eeeeee;
      border-radius: 5px;
      margin-bottom: 14px;
      border: none;
    }
    h2 {
      font-family: "Space Grotesk";
      font-style: normal;
      font-weight: 700;
      font-size: 31.25px;
      color: #ffffff;
      margin-bottom: 11.5px;
    }
    p {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #ffffff;
      margin-bottom: 40px;
    }
  }
  .slider {
    .owl-dot {
      span {
        background-color: #3474d4;
      }
    }
    .item {
      .card {
        padding: 20px;
        background: #222222;
        border-radius: 12px;
        min-height: 300px;
        color: #ffffff;
        img {
          max-width: 100%;
          border-radius: 12px;
        }
        .card-body {
          h3 {
            font-family: "Space Grotesk";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #ffffff;
          }
          p {
            font-family: "Outfit";
            font-style: normal;
            font-weight: 400;
            font-size: 12.5px;
            color: #dbdbdb;
          }
        }
      }
    }
  }
}
