<div class="from-blog mt-5 mb-5">
  <div class="container">
    <div class="row">
      <h3 class="mb-5">From The Blog</h3>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card border-0">
          <img src="./images/blog/blog-1.jpg" class="card-img-top" alt="..." />
          <div class="card-body ps-0 pe-0">
            <div class="blog-text mt-2 mb-3">
              <span class="me-3">
                <i class="fa-solid fa-calendar"></i>
                May 4,2019
              </span>
              <span>
                <i class="fa-solid fa-comment"></i>
                5
              </span>
            </div>
            <h5 class="card-title mb-3">Cooking tips make cooking simple</h5>
            <p class="card-text">
              Sed quia non numquam modi tempora indunt ut et dolore magnam
              aliquam quaerat
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card border-0">
          <img src="./images/blog/blog-2.jpg" class="card-img-top" alt="..." />
          <div class="card-body ps-0 pe-0">
            <div class="blog-text mt-2 mb-3">
              <span class="me-3">
                <i class="fa-solid fa-calendar"></i>
                May 4,2019
              </span>
              <span>
                <i class="fa-solid fa-comment"></i>
                5
              </span>
            </div>
            <h5 class="card-title mb-3">6 ways to prepare breakfast for 30</h5>
            <p class="card-text">
              Sed quia non numquam modi tempora indunt ut labore et dolore
              magnam aliquam quaerat
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card border-0">
          <img src="./images/blog/blog-3.jpg" class="card-img-top" alt="..." />
          <div class="card-body ps-0 pe-0">
            <div class="blog-text mt-2 mb-3">
              <span class="me-3">
                <i class="fa-solid fa-calendar"></i>
                May 4,2019
              </span>
              <span>
                <i class="fa-solid fa-comment"></i>
                5
              </span>
            </div>
            <h5 class="card-title mb-3">Visit the clean farm in the US</h5>
            <p class="card-text">
              Sed quia non numquam modi tempora indunt ut labore et dolore
              magnam aliquam quaerat
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
