<div class="process">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 text-md-start text-center mb-3">
        <h4>My Design Process</h4>
        <p>
          The Steps I take to create best solution that solves user's problem
          along with stakeholders needs.
        </p>
      </div>
      <div class="col-12 col-lg-8">
        <div class="accordion mb-3" id="accordionExample">
          <div class="accordion-item">
            <h2
              class="accordion-header d-flex align-items-center"
              id="headingOne"
            >
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Defining the Problem
              </button>
              <span>
                <i class="fa-solid fa-chevron-down"></i>
              </span>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                This is my first step in the design process which is to define
                the problem that needs to be solved. This includes understanding
                the context of the problem, understanding the user’s needs, and
                recognizing any constraints or limitations. This step is
                essential to ensure that the design process is focused on
                addressing the right problem.
              </div>
            </div>
          </div>
        </div>
        <div class="accordion mb-3" id="accordionExample2">
          <div class="accordion-item">
            <h2
              class="accordion-header d-flex align-items-center"
              id="headingOne"
            >
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne2"
                aria-expanded="false"
                aria-controls="collapseOne2"
              >
                Research
              </button>
              <span>
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </h2>
            <div
              id="collapseOne2"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample2"
            >
              <div class="accordion-body">.......</div>
            </div>
          </div>
        </div>
        <div class="accordion mb-3" id="accordionExample3">
          <div class="accordion-item">
            <h2
              class="accordion-header d-flex align-items-center"
              id="headingOne"
            >
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne3"
                aria-expanded="false"
                aria-controls="collapseOne3"
              >
                Conceptualize
              </button>
              <span>
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </h2>
            <div
              id="collapseOne3"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample3"
            >
              <div class="accordion-body">.......</div>
            </div>
          </div>
        </div>
        <div class="accordion mb-3" id="accordionExample4">
          <div class="accordion-item">
            <h2
              class="accordion-header d-flex align-items-center"
              id="headingOne"
            >
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne4"
                aria-expanded="false"
                aria-controls="collapseOne4"
              >
                Refine
              </button>
              <span>
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </h2>
            <div
              id="collapseOne4"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample4"
            >
              <div class="accordion-body">.......</div>
            </div>
          </div>
        </div>
        <div class="accordion mb-3" id="accordionExample5">
          <div class="accordion-item">
            <h2
              class="accordion-header d-flex align-items-center"
              id="headingOne"
            >
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne5"
                aria-expanded="false"
                aria-controls="collapseOne5"
              >
                Testing
              </button>
              <span>
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </h2>
            <div
              id="collapseOne5"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample5"
            >
              <div class="accordion-body">.......</div>
            </div>
          </div>
        </div>
        <div class="accordion mb-3" id="accordionExample6">
          <div class="accordion-item">
            <h2
              class="accordion-header d-flex align-items-center"
              id="headingOne"
            >
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne6"
                aria-expanded="false"
                aria-controls="collapseOne6"
              >
                Iterate
              </button>
              <span>
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </h2>
            <div
              id="collapseOne6"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample6"
            >
              <div class="accordion-body">.......</div>
            </div>
          </div>
        </div>
        <div class="accordion mb-3" id="accordionExample7">
          <div class="accordion-item">
            <h2
              class="accordion-header d-flex align-items-center"
              id="headingOne"
            >
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne7"
                aria-expanded="false"
                aria-controls="collapseOne7"
              >
                Hand-Off
              </button>
              <span>
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </h2>
            <div
              id="collapseOne7"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample7"
            >
              <div class="accordion-body">.......</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
