<header>
  <!-- start top header -->

  <div class="top-header p-1 pe-0 ps-0">
    <div class="container">
      <nav>
        <ul class="navbar-nav">
          <div class="row justify-content-between">
            <div class="col-6 d-flex align-items-center">
              <li class="nav-item me-4">
                <a class="nav-link" href="darshola0@gmail.com"
                  ><i class="fa-solid fa-envelope me-1"></i>
                  darshola0@gmail.com</a
                >
              </li>
              <span class="me-4"></span>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Free Shipping for all Order of $99</a
                >
              </li>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
              <li>
                <a href="#" class="text-decoration-none">
                  <i class="fa-brands fa-facebook-f me-3"></i>
                </a>
                <a href="#" class="text-decoration-none">
                  <i class="fa-brands fa-twitter me-3"></i>
                </a>
                <a href="#" class="text-decoration-none">
                  <i class="fa-brands fa-linkedin-in me-3"></i>
                </a>
                <a href="#" class="text-decoration-none">
                  <i class="fa-brands fa-pinterest-p me-3"></i>
                </a>
              </li>
              <span class="me-4"></span>
              <div class="dropdown">
                <button
                  class="dropdown-toggle border-0"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img src="./images/language.png" alt="" />
                  English
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">English</a></li>
                  <li><a class="dropdown-item" href="#">Arabic</a></li>
                </ul>
              </div>
              <span class="me-4 ms-4"></span>
              <li>
                <a href="#" class="text-decoration-none">
                  <i class="fa-solid fa-user me-2"></i>
                  Login
                </a>
              </li>
            </div>
          </div>
        </ul>
      </nav>
    </div>
  </div>

  <!-- end top header -->
  <div class="header-menu">
    <nav class="navbar">
      <div class="container d-block">
        <div class="row align-items-center">
          <div class="col-6 col-lg-3">
            <a class="navbar-brand" href="#"
              ><img src="./images/logo.png" alt=""
            /></a>
          </div>
          <div class="col-6 d-none d-lg-block">
            <ul class="navbar-nav flex-row">
              <li class="nav-item">
                <a class="nav-link active me-5" aria-current="page" href="#"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link me-5" href="#">SHOP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-5" href="#">PAGES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-5" href="#">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-5" href="#">CONTACT</a>
              </li>
            </ul>
          </div>
          <!-- navbar sidebar -->

          <div class="col-6 d-block d-lg-none text-end">
            <button
              class="btn"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample"
            >
              <i class="fa-solid fa-bars-staggered fs-3"></i>
            </button>

            <div
              class="offcanvas offcanvas-start"
              tabindex="-1"
              id="offcanvasExample"
              aria-labelledby="offcanvasExampleLabel"
            >
              <div class="offcanvas-header">
                <img src="./images/logo.png" alt="" />
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="offcanvas-body">
                <div
                  class="login mb-2 d-flex justify-content-center align-items-center"
                >
                  <div class="dropdown">
                    <button
                      class="dropdown-toggle border-0"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <img src="./images/language.png" alt="" />
                      English
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">English</a></li>
                      <li><a class="dropdown-item" href="#">Arabic</a></li>
                    </ul>
                  </div>
                  <span class="me-4 ms-4"></span>
                  <a href="#" class="text-decoration-none">
                    <i class="fa-solid fa-user me-2"></i>
                    Login
                  </a>
                </div>

                <div class="list-group text-center">
                  <a
                    href="#menu"
                    class="list-group-item list-group-item-action active"
                    aria-current="true"
                    data-bs-toggle="collapse"
                  >
                    Menu
                  </a>
                  <div class="collapse show" id="menu">
                    <a href="#" class="list-group-item list-group-item-action"
                      >Home</a
                    >
                    <a href="#" class="list-group-item list-group-item-action"
                      >SHOP</a
                    >
                    <a href="#" class="list-group-item list-group-item-action"
                      >PAGES</a
                    >
                    <a href="#" class="list-group-item list-group-item-action"
                      >BLOG</a
                    >
                    <a href="#" class="list-group-item list-group-item-action"
                      >CONTACT</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- navbar sidebar -->
          <div
            class="col-12 col-md-12 col-lg-3 ms-auto cart-price d-flex justify-content-center justify-content-lg-end align-items-center"
          >
            <ul class="d-flex align-items-center mb-0 me-3">
              <li>
                <a href="#" class="position-relative">
                  <i class="fa-solid fa-heart ps-2 pe-2"></i>
                  <span class="position-absolute">1</span>
                </a>
              </li>
              <li>
                <a href="#" class="position-relative">
                  <i class="fa-solid fa-bag-shopping ps-2 pe-2"></i>
                  <span class="position-absolute">3</span>
                </a>
              </li>
            </ul>
            <div class="cart-price-item text-end">
              item: <span>$150.00</span>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
