<section>
  <div class="container">
    <div
      class="content d-flex flex-column align-items-center text-center justify-content-center mb-4"
    >
      <button>Hey, you</button>
      <h1>
        A Product Designer that creates engaging <br />
        user-friendly Interfaces.
      </h1>
      <p>"Creating User-Centric Designs to Enhance User Experiences"</p>
      <div class="cv">
        <button class="me-2">
          <a href="#">Download CV</a>
        </button>
        <button>
          <a href="#">Contact</a>
        </button>
      </div>
    </div>
  </div>
</section>
