<div class="section mt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 mb-3">
        <div class="list-group">
          <a
            href="#menu"
            class="list-group-item list-group-item-action active d-flex align-items-center justify-content-evenly"
            aria-current="true"
            data-bs-toggle="collapse"
          >
            <i class="fa-solid fa-bars"></i>
            All departments
            <i class="fa-regular fa-circle-down"></i>
          </a>
          <div class="collapse show border pt-2 pb-2" id="menu">
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Fresh Meat</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Vegetables</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Fruit & Nut Gifts</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Fresh Berries</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Ocean Foods</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Butter & Eggs</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Fastfood</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Fresh Onion</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Papayaya & Crisps</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Oatmeal</a
            >
            <a
              href="#"
              class="list-group-item list-group-item-action border-0 ps-5"
              >Fresh Bananas</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-12">
        <div class="input-group mb-3">
          <input
            type="search"
            class="form-control rounded-0 shadow-none"
            placeholder="What do yo u need?"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button type="button" class="btn ps-5 pe-5">search</button>
          <div class="number d-flex ms-3 align-items-center d-none d-lg-flex">
            <div class="btn">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="phone d-flex flex-column ms-3">
              <span>+65 11.188.888</span>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
        <div class="banner">
          <span>FRUIT FRESH</span>
          <h2>Vegetable <br />100% Organic</h2>
          <p>Free Pickup and Delivery Available</p>
          <a href="#" class="btn">SHOP NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>
