<div class="project mb-4">
  <div class="container">
    <div class="row">
      <div class="banner text-center">
        <button>Work</button>
        <h2>Selected Projects</h2>
        <p>Few of the projects have worked on.</p>
      </div>
      <div class="slider">
        <div
          class="owl-carousel owl-theme text-center position-relative"
          id="slide"
        >
          <div class="item">
            <a href="#">
              <div class="card">
                <img
                  src="./images/banner/1zf7tk0a_1674732884403.jpg.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h3 class="card-title">Project</h3>
                  <p class="card-text">Food & Grocery Website</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <div class="card">
                <img
                  src="./images/banner/1zf7tk0a_1674732884403.jpg.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h3 class="card-title">Project</h3>
                  <p class="card-text">Tayea Clinic</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <div class="card">
                <img
                  src="./images/banner/1zf7tk0a_1674732884403.jpg.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h3 class="card-title">Project</h3>
                  <p class="card-text">Montaj Ecommerce Website</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <div class="card">
                <img
                  src="./images/banner/1zf7tk0a_1674732884405.jpg.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h3 class="card-title">App</h3>
                  <p class="card-text">E-commerce lite app</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <div class="card">
                <img
                  src="./images/banner/1zf7tk0a_1674732884404.jpg.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h3 class="card-title">App</h3>
                  <p class="card-text">shopping cart UI #واجهات</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
