<div class="slider mt-5 mb-5">
  <div class="container">
    <div
      class="owl-carousel owl-theme text-center position-relative"
      id="slide"
    >
      <div class="item position-relative">
        <img src="./images/categories/cat-1.jpg" alt="" />
        <div
          class="btn btn-dark position-absolute bottom-0 start-50 translate-middle"
        >
          Fresh Fruit
        </div>
      </div>
      <div class="item position-relative">
        <img src="./images/categories/cat-2.jpg" alt="" />
        <div
          class="btn btn-dark position-absolute bottom-0 start-50 translate-middle"
        >
          Fresh Fruit
        </div>
      </div>
      <div class="item position-relative">
        <img src="./images/categories/cat-3.jpg" alt="" />
        <div
          class="btn btn-dark position-absolute bottom-0 start-50 translate-middle"
        >
          Fresh Fruit
        </div>
      </div>
      <div class="item position-relative">
        <img src="./images/categories/cat-4.jpg" alt="" />
        <div
          class="btn btn-dark position-absolute bottom-0 start-50 translate-middle"
        >
          Fresh Fruit
        </div>
      </div>
      <div class="item position-relative">
        <img src="./images/categories/cat-5.jpg" alt="" />
        <div
          class="btn btn-dark position-absolute bottom-0 start-50 translate-middle"
        >
          Fresh Fruit
        </div>
      </div>
    </div>
  </div>
</div>
