<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ogani</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Mostafa" />
  </head>
  <body>
    <%- include('./components/header.ejs') %> <%-
    include('./components/section.ejs') %>
  </body>
</html>
